<div id="<%= dom_id host %>">
  <p>
    <strong>Title:</strong>
    <%= host.title %>
  </p>
  <p>
    <strong>Body:</strong>
    <%= host.body %>
  </p>
  <p>
    <strong>Age:</strong>
    <%= host.age %>
  </p>
  <p>
    <strong>Street:</strong>
    <%= host.street %>
  </p>
</div>
