<div id="<%= dom_id cost %>">
  <p>
    <strong>Title:</strong>
    <%= cost.title %>
  </p>

  <p>
    <strong>Body:</strong>
    <%= cost.body %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= cost.age %>
  </p>

  <p>
    <strong>Fav color:</strong>
    <%= cost.fav_color %>
  </p>

</div>
